<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Practice reading piano notes with this extremely easy to use website">
    <meta name="keywords" content="piano,note reading,practice piano">
    <title>Practice Piano</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
